

<section id="navigation">
  <div id="nav" class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="row-fluid text-center">
        <div class="col-md-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">WHAT</a></li>
              <li><a href="#">WHY</a></li>
              <li><a href="#">WHERE</a></li>
              <li><a href="#">WHO</a></li>
              <a class="navbar-brand" href="#"><img src="images/Crossmark_Logo.png" /></a>
              <li><a href="#">CAREERS</a></li>
              <li><a href="#">NEWS</a></li>
              <li><a href="#">CONTACT</a></li>
              <li><a href="#">CROSSMARKConnect</a></li>
            </ul>      
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="subnav" class="navbar-collapse collapse navbar-responsive-collapse">
    <div class="container">
      <div class="row-fluid text-center">
        <div class="col-md-12">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">COMMUNITY</a></li>
            <li><a href="#">SUSTAINABILITY</a></li>
            <li><a href="#">DIVERSITY</a></li>
            <li><a href="#">LEADERSHIP</a></li>
            <li><a href="#">CORPORATE CITIZENSHIP</a></li>
          </ul>      
        </div>
      </div>
    </div>  
  </div>  
</section>