<section id="overview" class="canvas">

  <div class="container">
    <div class="row-fluid">			
   	  <div class="col-md-offset-3 col-md-6 vcenter">
   	  	<div class="copy-block">
      	  <h1>WHO WE ARE</h1>
          <h3><%= Faker::Lorem.sentence(1) %> </h3>
          <h5><%= Faker::Lorem.paragraph(3) %></h5>			
        </div>
      </div>
    </div>
  </div>
</section>

<section id="overview-image">
  <div class="container">
    <div class="row-fluid text-center">
      <div class="col-md-12">
  				
      </div>
    </div>
  </div>
</section>